@use "../../styles/Colors.scss" as c;
@use "../../styles/Utilities.scss" as u;

.Hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: -1;
  background-color: c.$primary;
  background-image: url("../../assets/gris.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__content {
    background-color: rgba(white, 0.75);
    margin-top: u.$navbar-height;
    color: white;
    z-index: 2;

    &__wrapper {
      max-width: u.$max-width;
      margin-inline: auto;
      overflow: hidden;

      > div {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.25rem;
        transform: translateY(-100%);
        animation: slideDown 750ms linear forwards;
        padding: 2rem 1rem;
      }

      span {
        font-family: "Cinzel";
      }

      span:nth-child(1) {
        color: c.$primary;
        font-size: clamp(2rem, 10vw, 3rem);
      }

      span:nth-child(2) {
        color: c.$secondary;
        font-size: clamp(0.95rem, 5vw, 1.75rem);
      }

      img {
        // position: absolute;
        // top: -100%;
        // animation: slideDown 250ms linear;
        padding-inline: 1rem;
      }
    }

    p {
      font-size: 3rem;
      text-transform: uppercase;
      text-align: center;
    }
  }
}

@keyframes slideDown {
  100% {
    top: 50%;
    transform: translateY(-50%);
  }
}
