@use "../../styles/Utilities.scss" as u;

.Hero {
  isolation: isolate;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100vw;
  height: 100vh;
  position: relative;

  video {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
  }

  &__content {
    background-color: rgba(black, 0.45);
    padding: 2rem 1rem;
    color: white;

    &__wrapper {
      max-width: u.$max-width;
      margin-inline: auto;
    }

    p {
      font-size: 3rem;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}
