@use "../../styles/Colors.scss" as c;
@use "../../styles/Utilities.scss" as u;

.Hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: -1;
  background-color: c.$primary;
  background-image: url("../../assets/splash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__content {
    background-color: rgba(white, 0.9);
    color: white;
    z-index: 2;
    padding: 2rem 1rem;

    &__wrapper {
      max-width: u.$max-width;
      margin-inline: auto;
      overflow: hidden;
      display: flex;
      justify-content: center;

      img {
        padding-inline: 1rem;
        width: clamp(250px, 100%, 500px);
      }
    }

    p {
      font-size: 3rem;
      text-transform: uppercase;
      text-align: center;
    }
  }
}

@keyframes slideDown {
  100% {
    top: 50%;
    transform: translateY(-50%);
  }
}
