@use "../../styles/Colors.scss" as c;
@use "../../styles/Utilities.scss" as u;

.Nosotros {
  &__copy {
    max-width: 70ch;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-block: 3rem;
    line-height: 1.8;
  }
}
