@use "../../styles/Colors.scss" as c;
@use "../../styles/Utilities.scss" as u;

.Nosotros {
  line-height: 1.8;

  &__content {
    &__wrapper {
      display: flex;
      flex-direction: column;
      max-width: 1400px;
      margin-inline: auto;

      @media (min-width: u.$mobile-breakpoint) {
        flex-direction: row;

        > * {
          width: 50%;
        }
      }
    }
  }

  &__copy {
    max-width: 412px;
    display: flex;
    flex-direction: column;
    padding-block: 5rem;
    padding-inline: 1rem;
    margin-inline: auto;

    p:nth-child(1) {
      color: c.$primary;
      font-weight: bold;
      text-transform: uppercase;
      padding-block: 1rem;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: -50px;
        left: -25px;
        width: 25px;
        aspect-ratio: 1;
        border-top: 2px solid c.$primary;
        border-left: 2px solid c.$primary;
      }
    }

    p:nth-child(2) {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        bottom: -50px;
        right: -25px;
        width: 25px;
        aspect-ratio: 1;
        border-bottom: 2px solid c.$primary;
        border-right: 2px solid c.$primary;
      }
    }
  }

  &__statement {
    padding: 1rem;
    display: flex;
    justify-content: center;
    background-color: c.$secondary;
    color: c.$white;
    border-top: 8px double c.$white;
    border-bottom: 8px double c.$white;
    position: relative;
    max-width: 600px;

    @media (min-width: u.$mobile-breakpoint) {
      border-left: 8px double c.$white;
    }

    @media (min-width: 1400px) {
      border-right: 8px double c.$white;
    }

    &__btn-group {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      display: flex;
      justify-content: space-between;
      z-index: 3;

      button {
        padding: 0.25rem;
        background-color: rgba(c.$black, 0.75);
        color: c.$white;
        display: grid;
        place-content: center;

        &[data-visible="false"] {
          visibility: hidden;
        }
      }
    }

    &__wrapper {
      overflow-x: hidden;
      width: 100%;
      position: relative;
      min-height: 325px;

      &[data-slide="0"] {
        > div:nth-child(1) {
          left: 0;
        }

        > div:nth-child(2) {
          left: 100%;
        }

        > div:nth-child(3) {
          left: 200%;
        }
      }

      &[data-slide="1"] {
        > div:nth-child(1) {
          left: -100%;
        }

        > div:nth-child(2) {
          left: 0;
        }

        > div:nth-child(3) {
          left: 100%;
        }
      }

      &[data-slide="2"] {
        > div:nth-child(1) {
          left: -200%;
        }

        > div:nth-child(2) {
          left: -100%;
        }

        > div:nth-child(3) {
          left: 0;
        }
      }
    }

    &__slide {
      width: 100%;
      position: absolute;
      top: 0;
      transition: left 500ms ease-in;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 1;
      height: 100%;

      &__wrapper {
        margin-inline: auto;
      }

      ul {
        display: grid;
        grid-template-columns: 1fr 1fr;

        > li {
          list-style-type: disc;
          margin-left: 1rem;
          padding-inline: 1rem;
        }
      }
    }

    h3 {
      padding-block: 0.5rem;
    }

    p {
      max-width: 50ch;
    }
  }
}
