@use "../../styles/Colors.scss" as c;
@use "../../styles/Utilities.scss" as u;

.Navbar {
  background-color: c.$white;
  padding: 1rem;
  z-index: 3;
  position: absolute;
  top: 0;
  width: 100vw;

  &__wrapper {
    max-width: u.$max-width;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    height: fit-content;
    display: grid;
    place-content: center;

    img {
      width: 100px;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    flex-grow: 1;
    gap: 1rem;
  }

  &__smedia {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;

    a {
      color: c.$secondary;
      display: none;

      @media (min-width: u.$mobile-breakpoint) {
        display: block;
      }
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    color: c.$dark-gray;
    flex-grow: 1;

    nav {
      display: none;
      @media (min-width: u.$mobile-breakpoint) {
        display: flex;
      }
    }

    ul {
      display: flex;
      gap: 1rem;
    }

    a {
      position: relative;
      padding-block: 0.5rem;
    }

    a:hover {
      color: c.$black;
    }

    a:hover::after {
      width: 100%;
      left: 0;
    }

    a[data-active="true"] {
      color: c.$primary;
    }

    a::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 0;
      height: 2px;
      background-color: c.$secondary;
      transition: all 250ms ease-in-out;
    }
  }

  &__menu {
    button {
      background-color: c.$white;

      > svg {
        min-height: 35px;
        min-width: 35px;
      }
    }
    @media (min-width: u.$mobile-breakpoint) {
      display: none;
    }
  }
}
