.Gallery {
  &__heading {
    font-size: 2rem;
    padding-block: 2rem;
    margin-inline: auto;
  }

  &__slider {
    display: grid;
    // grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    // grid-auto-columns: 100%;
  }

  &__item {
    img {
      display: flex;
      max-width: 100%;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }
}
