@use "../../styles/Colors.scss" as c;
@use "../../styles/Utilities.scss" as u;

.Gallery {
  padding: 1rem;

  &__slider {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }

  &__item {
    border-radius: 0.125rem;

    img {
      display: flex;
      max-width: 100%;
      aspect-ratio: 1;
      object-fit: cover;
      border-radius: 0.5rem;

      @media (min-width: u.$mobile-breakpoint) {
        max-width: 25em;
      }
    }
  }
}
