@use "../../styles/Colors.scss" as c;

.SectionHeading {
  background-color: c.$white;
  position: relative;
  z-index: 1;
  isolation: isolate;
  display: flex;
  align-items: center;
  font-family: "Cinzel";

  > h2 {
    margin-inline: auto;
    margin-block: 2rem;
    font-size: 1.25rem;
    background-color: c.$white;
    display: flex;

    > span {
      padding-inline: 0.5rem;
      text-transform: uppercase;
      max-width: calc(100vw - 1rem);
    }

    .icon-group {
      display: flex;
      align-items: center;
      color: c.$primary;

      svg {
        display: grid;
        place-content: center;
      }
    }

    @media (min-width: 40em) {
      font-size: 1.75rem;
    }
  }

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    max-width: 50rem;
    margin-inline: auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 2px;
    background-color: c.$primary;
    z-index: -1;
  }
}
