@use "../../styles/Colors.scss" as c;
@use "../../styles/Utilities.scss" as u;

.Proyectos {
  background-color: white;

  &__wrapper {
    max-width: u.$max-width;
    margin-inline: auto;
  }

  &__heading {
    font-size: 2rem;
    border-bottom: 5px solid c.$primary;
    background-color: white;
    margin-bottom: 2rem;
  }

  &__content {
    display: flex;
  }
}

.proyecto {
  width: 33%;
  aspect-ratio: 9 / 16;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url("../../assets/proyecto-uno.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(c.$black, 0.25);

  &:hover {
    background-color: rgba(c.$black, 0.75);
  }

  &:nth-child(1) {
    background-image: url("../../assets/proyecto-uno.jpg");
  }
  &:nth-child(2) {
    background-image: url("../../assets/proyecto-dos.jpg");
  }
  &:nth-child(3) {
    background-image: url("../../assets/proyecto-tres.jpg");
  }

  &__title {
    width: 100%;
    padding: 1rem;
    font-size: 2rem;
    color: c.$white;
  }
}
